<div class='jumbotron'>
  <h1>Coalesce to Give</h1>
  <p>A community built around impactful and transparent giving</p>
  <%= button_to "Sign up for free!", new_user_registration_path, method: :get, class: 'btn btn-success' %>
  <%= image_tag("Homepage_picture.jpg") %>
</div>



